{% macro display_article(article) -%}
    <article>
        <h1>{{ article.title }}</h1>
        {% if article.image_url %}
            <img src="{{article.image_url}}" title="{{article.image_title}}" alt="{{article.title}} - obrázek" class="image">
        {% endif %}
        {{article.text|safe|replace("\n", "\n<p>")}}
        <footer>
            <div>{{"Napsala" if article.author.gender == "f" else "Autor"}}: <author>{{article.author.name}}</author></div>
            <div>Datum publikace: {{article.datetime|datetime}}</div>            
        </footer>        
    </article>
{%- endmacro %}
<!DOCTYPE html>
<html lang="cs">
    <head>
        <title>Z20P > {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Z20P, vše co jste kdy chtěli</h1>
            <menu id="leftmenu">
            {% for item, link in (('Vyhledávání', 'search'), ('Pro čtenáře', 'info'), ("Videa a 5 nej.", "columns"), ("Všechny články", "all_articles")) %}
                <li><a href="{{link}}">{{item}}</a>
            {% endfor %}
            </menu>
            <menu id="rightmenu">
                <li>index
                <li>search
                <li>youtube
            </menu>
        </header>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
        <footer>
            z20p
        </footer>
    </body>
</html>

