## REMEMBER TO ADD AN IMPORT TO _base.html
{% macro render_field(field) %}
  <dt>{%- if field.name != "submit" -%}{{- field.label -}}{%- endif -%}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
{% macro td_field(field) %}
  <td title="{{field.name}}">{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </td>
{% endmacro %}
## TODO rename to render_article
{% macro display_article(article, crop=False, cut=False, force_labels=False, reaction_title=False) -%}
    <article class="{{'crop' if crop else 'regular'}} {{'reaction' if article.is_reaction}}" id="{{'article' if article.is_article else 'reaction'}}-{{article.id}}">
        {% if reaction_title %}
            <h1><a href="{{article.url}}">Reakce na <em>{{ article.article.title }}</em>:</a></h1>
        {% endif %}
        {% if article.media %}
            {% if crop or cut %} <a href="{{article.url}}">
            {% else %} <a href="{{article.media.url}}" rel="prettyPhoto" title="{{article.media.title}}">{% endif %}
            <img src="{{article.media.thumb_article}}" title="{{article.title}} - {{article.media.title}}" alt="{{article.title}}" class="image">
            </a>
        {% endif %}
        {% if article.rating %}
            <div class="ratingbox">
                <span class="rating rating-{{article.rating.rating}}">{{ "N" if article.rating.rating==-1 else article.rating.rating }}</span>
                {%- if article.rating.rating not in (-1, 10) -%}
                    <span class="outof">/10</span>
                {%- endif -%}
            </div>
        {% endif %}
        {% if article.title %}
            <h1><a href="{{article.url}}">{{ article.title }}</a></h1>
        {% endif %}
        {% if True %}
            {% if not (cut or crop) or article.text|striptags|length <= (2100 if cut else 300) %}
                {{(("<p>"|safe)+((article.text if not crop else article.text|striptags)|safe)|replace("\n", "\n<p>"|safe))|clean|safe}}
            {% elif cut %}
                {{(("<p>"|safe)+(article.text)|truncate(1000)|safe|replace("\n", "\n<p>"|safe))|clean|safe}}
                {% if cut %}<p><a href="{{article.url}}">→ Celý článek</a>{% endif %}
            {% elif crop %}
                {{(("<p>"|safe)+(article.text)|striptags|truncate(300)|safe|replace("\n", "  "|safe))|clean|safe}}
                {% if cut %}<p><a href="{{article.url}}">→ Celý článek</a>{% endif %}
            {% endif %}
        {% else %}
            <ul class="platforms">
            {%- for label in article.labels -%}
                {%- if label.category == 'platform' or force_labels -%}
                    <li><a href="{{label.url}}">{{label.name}}</a>
                {% endif -%}
            {%- endfor -%}
            </ul>
        {% endif %}
        <footer>
            <ul class="labels">
                {% for label in article.labels %}
                    <li><a href="{{label.url}}" class="label-{{label.category}}">{{label.name}}</a>
                {% endfor %}
            </ul>
            <div class="lefthings">
                {% if article.is_article %}
                    <div class="stats">
                        {% if g.user.admin or g.user == article.author %}
                            <a href="{{article.url}}/edit">{{icon("pencil", "")}} editovat</a>
                        {% endif %}
                        {{icon("images-stack", "Obrázků")}}×{{ article.images|count }}
                        {{icon("films", "Videí")}}×{{ article.videos|count }}
                        <!--{{icon("blogs-stack", "Reakcí")}}×{{ article.reactions|count }}-->
                        {{icon("eye", "Shlédnutí")}}×{{ article.views }}
                        {% if not article.published %}
                            <strong class="unpublished">Nepublikovaný článek</strong>
                        {% endif %}
                    </div>
                {% else %}
                    {% if g.user.admin or g.user == article.author %}
                        <a href="{{article.url}}/edit">{{icon("pencil", "Editovat")}}</a>
                    {% endif %}
                {% endif %}
                <div class="dateline" title="vytvoření: {{article.timestamp|datetime}}, poslední editace: {{article.edit_timestamp|datetime}}">{{icon("calendar-blue", "Datum publikace:")}} {{(article.publish_timestamp or article.timestamp)|datetime}}</div>
            </div> 
            <div class="authorline">Napsal{{gr(article.author.gender)}}: {{author(article.author)}}</div> 
            <div class="clear"></div>
        </footer>
        {% if article.is_article %}
            {% if article.f2p != None %}
                <div class="f2p">
                    {%- if article.f2p -%}
                        Lze hrát zdarma
                    {%- else -%}
                        Placená hra
                    {%- endif -%}
                </div>
            {% endif %}
            <div class="articlelink">
                {% if article.rateable %}
                    <a href="{{article.url}}#rating">
                    {%- if article.ratings|length >= 2 -%}
                        Čtenářské hodnocení: <strong>{{article.avg_rating}}/10</strong>
                    {%- else -%}
                        <strong>Přidejte vaše hodnocení</strong>
                    {%- endif -%}
                    </a> • 
                {% endif %}<a href="{{article.url}}#reactions">
                {%- if article.reactions|length > 0 -%}
                    {{article.reactions|length}} {{"reakcí" if article.reactions|length >= 5 else "reakce"}}
                {%- else -%}
                    Žádná reakce
                {%- endif -%}
                </a>
            </div>
        {% endif %}
        <div class="clear"></div>
    </article>
{%- endmacro %}
{% macro render_pages(page, count, per_page=5, anchor=None) %}
    <div class="pages">
        <div class="mainarrows">
            {% if page > 1 %}
                <a href="{{url_for_here(page=page-1)}}" class="leftarrow">◀</a>
            {% else %}
                <a class="leftarrow disabledarrow">◀</a>
            {% endif %}
            <strong>{{page}}</strong>
            {% if page < count/per_page %}
                <a href="{{url_for_here(page=page+1)}}" class="rightarrow">▶</a>
            {% else %}
                <a class="rightarrow disabledarrow">▶</a>
            {% endif %}
        </div>
        <!--Stránka {{ page }} z {{ (count//per_page)+1 }}-->
        <div class="clear">
            {%- for p in range(1, ((count-1)//per_page)+2) -%}
                {%- if p == page -%}
                    <strong>{{p}}</strong>{{"," if not loop.last else ""}}
                {%- else -%}
                    <a href='{{url_for_here(page=p, _anchor=anchor)}}'>{{p}}</a>{{"," if not loop.last else ""}}
                {%- endif %}
            {% endfor %}
        </div>
    </div>
{% endmacro %}
{% macro render_buttons(buttons) %}
    {% for button in buttons -%}
        {% if button.labels %}
            <li><span class="down" id="down-{{button.id}}">▼</span><a href="{{button.search_url}}">{{button.name}}</a>
                <ul class="button-labels" style="display: none;" id="button-{{button.id}}-labels">
                    {%- for label in button.labels -%}
                        <li><a href="{{label.label.url}}">{{label.label.name}}</a></li>
                    {% endfor -%}
                </ul>
            </li>
        {% else %}
            <li><a href="{{button.url}}">{{icon(button.icon, "")+" " if button.icon}}{{button.name}}{{" <strong>({0})</strong>".format(g.unread)|safe if g.unread and button.function == "shoutbox"}}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro render_media_box(media, rel="", article_icon=False, icons=True, title=True) -%}
    <div class="mediabox rank-{{media.rank}}" id="media-{{media.id}}">
        <div class="imagewrap">
            {%- if icons %}
                <div class="imageicons">
                    <!--<a id="raise">{{icon("pencil", "Edit")}}</a><!--
                 --<a >{{icon("pencil", "Edit")}}</a><br>-->
                    {%- if g.user.admin or (g.user == media.author and not g.user.guest) -%}
                        <a href="/media/{{media.id}}/edit">{{icon("pencil", "Edit")}}</a>
                    {%- endif -%}
                    {%- if media.type == 'video' %}
                        <a href="{{media.url}}">{{icon("film", "Video")}}</a>
                    {%- endif -%}
                    {%- if article_icon and media.article -%}
                        <a href="{{media.article.url}}">{{icon("blog", media.article.title)}}</a>
                    {%- endif -%}
                    <a href="{{media.author.url}}">{{author(media.author, clip=True)}}</a>
                </div>
            {% endif -%}
            <a href="{{media.url}}" rel="prettyPhoto[{{rel}}]" title="<a href='{{media.url}}'>{{media.title}}</a><p><small>{{media.author.name}}, {{media.timestamp|datetime}}</small>"><img src="{{media.thumb}}" class="image" alt="{{media.title}}"></a></div>
        {%- if title %}
            <div title="{{media.author.name}}, {{media.timestamp|datetime}}" >{{media.title}}</div>
        {%- endif -%}
    </div>
{%- endmacro %}
{% macro icon(name, alt, title="", w=16, h=16) -%}
<img src="{{'/static/icons/'+name+'.png' if '/' not in name else name}}" alt="{{alt}}" title="{{alt if title=='' else title}}" class="icon" width={{w}} height={{h}}>
{%- endmacro %}
{% macro author(user, clip=False) -%}
<span class="author"><a href="{{user.url if (not user.guest or g.user.admin) else '#'}}" class="iconlink">{{icon(user.minipic, user.name) if user.minipic else icon('user-silhouette', user.name or user.ip) if not user.is_bot else icon('computer', user.ip)}}{{" " if not clip}}</a>
{%- if not clip -%}
    <a href="{{user.url if (not user.guest or g.user.admin) else '#'}}" rel="author">{{user.name or "["+user.ip+(" "+(user.user_agent[:24]+"..." if user.user_agent|length>23 else user.user_agent) if user.user_agent else "")+"]"}}</a>{{{-1:'✘', 0:'', 1:'♤', 2:'♣', 3:'☆', 4:'★'}[user.rights]}}</span>
{%- endif -%}
{%- endmacro %}
## This really needs some more thinking through... # Also crap g is the global variable.
{% macro gr(gender=None) -%}
{{{'m':'', 'f':'a', '-':'o'}[gender if gender else g.user.gender]}}
{%- endmacro %}
