## REMEMBER TO ADD AN IMPORT TO _base.html
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
{% macro td_field(field) %}
  <td title="{{field.name}}">{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </td>
{% endmacro %}
{% macro display_article(article, crop=False) -%}
    <article class="{{'crop' if crop else 'regular'}}">
        {% if article.media %}
            {% if crop %} <a href="/article/{{ article.id }}">
            {% else %} <a href="{{article.media.url}}">{% endif %}
            <img src="{{article.media.url}}" title="{{article.media.title}}" alt="{{article.title}} - obrázek" class="image">
            </a>
        {% endif %}
        <h1><a href="/article/{{ article.id }}">{{ article.title }}</a></h1>
        {% if not crop %}
            <p>{{article.text|replace("\n", "\n<p>")|safe}}
        {% else %}
            <ul class="platforms">
            {% for label in article.labels %}
                {% if label.category == 'platform' %}
                    <li><a href="/search/label/{{label.id}}">{{label.name}}</a>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        <footer>
            <div class="dateline"><img src="/static/icons/calendar-blue.png" alt="Datum publikace: "> {{article.timestamp|datetime}}</div> 
            <ul class="labels">
                {% for label in article.labels %}
                    <li><a href="/search/label/{{label.id}}">{{label.name}}</a>
                {% endfor %}
            </ul>
            <div class="authorline">{{"Napsala" if article.author.gender == "f" else "Autor"}}: <author>{{article.author.name}}</author></div>       
            <div class="adminline"><a href="/article/{{article.id}}/edit">edit</a></div>  
            <div style="clear:both;"></div>  
        </footer>        
    </article>
{%- endmacro %}
