{% extends "_base.html" %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}
    {{ display_article(article) }}
    <a class="mediatab selectedtab" id="tab-images">Obrázky ({{images|length}})</a><a class="mediatab" id="tab-videos">Videa ({{videos|length}})</a><a class="mediatab" id="tab-upload">Upload</a>
    <div class="mediagallery" id="gallery-images">
        {%- for media in images -%}
            <div class="mediabox" id="media-{{media.id}}">
                <div><a href="{{media.url}}" rel="prettyPhoto[media]" title="{{media.title}}<p><small>{{media.author.name}}, {{media.timestamp|datetime}}</small>"><img src="{{media.thumb}}" class="image" alt="{{media.title}}"></a></div>
                <div title="{{media.author.name}}, {{media.timestamp|datetime}}">{{media.title}}
                    {% if g.user.admin or (g.user == media.author and not g.user.guest) %}
                        <a href="/media/{{media.id}}/edit">{{icon("pencil", "Edit")}}</a>
                    {% endif %}
                </div>
            </div>
        {%- endfor -%}</div>
    <div class="mediagallery" id="gallery-videos">
        {%- for media in videos -%}
            <div class="mediabox" id="media-{{media.id}}">
<!--TODO stick a large red right arrow over the image to signify it's a VIDEO.-->
                <div><a href="{{media.url}}"><img src="{{media.thumb_url}}" class="image" alt="Video"></a></div>
                <div title="{{media.author.name}}, {{media.timestamp|datetime}}">{{media.title}}
                    {% if g.user.admin or (g.user == media.author and not g.user.guest) %}
                        <a href="/media/{{media.id}}/edit">{{icon("pencil", "Edit")}}</a>
                    {% endif %}
                </div>
            </div>
        {%- endfor -%}</div>
    <div class="mediagallery" id="gallery-upload">
        <div class="leftcolumn">
            <form method="POST" action="{{article.url}}/post#upload" enctype="multipart/form-data">
              <dl>
                {{ render_field(upload_form.image, accept="image/*") }}
                {{ render_field(upload_form.title) }}
                {{ render_field(upload_form.submit) }}
              </dl>
            </form>
        </div>
        <div class="rightcolumn">
            <form method="POST" action="{{article.url}}/post#upload">
              <dl>
                {{ render_field(video_form.url) }}
                {{ render_field(video_form.video_title) }}
                {{ render_field(video_form.submit) }}
              </dl>
            </form>
        </div>
    </div>
    <h2 id="reactions">Reakce</h2>
    {% for reaction in article.reactions %}
        {{ display_article(reaction) }}
    {% endfor %}
    <div class="rightcolumn">
        <h2>Ohodnotit</h2>
        <form method="POST" action="{{article.url}}/post">
          <dl>
            {{ render_field(rating_form.rating) }}
            {{ render_field(rating_form.submit) }}
          </dl>
        </form>
    </div>
    <div class="leftcolumn">
        <h2>Napsat reakci</h2>
        <form method="POST" action="{{article.url}}/post">
          <dl>
            {% if g.user.guest %} {{ render_field(reaction_form.name) }} {% endif %}
            {{ render_field(reaction_form.text) }}
            {% if g.user != article.author %} {{ render_field(reaction_form.rating) }} {% endif %}
            {% if reaction_form.image.choices|length > 1 %} {{ render_field(reaction_form.image) }} {% endif %}
            {{ render_field(reaction_form.submit) }}
          </dl>
        </form>
    </div>
{% endblock %}
