{% extends "_base.html" %}

{% block title %}Tlačítka{% endblock %}

{% block content %}
    <h2>Tlačítka</h2>
    {% for side in ('top', 'left', 'right')%}
        {% set buttons = g.buttons[side] %}
        <div class="{{side}}column">
            <h3>{{side}}</h3>
            <table><thead><tr><td class="w16">pos</td><td class="w16">^</td><td class="w16">v</td><td class="w16">i</td><td>tlačítko</td><td>štítků</td></tr></thead>
                {% for button in buttons %}
                    <tr>
                        <td>{{button.position}}</td>
                        <td>{% if not loop.first %}<a href="/buttons?move=up&id={{button.id}}">{{icon("arrow-090-medium")}}</a>{%endif %}</td>
                        <td>{% if not loop.last  %}<a href="/buttons?move=down&id={{button.id}}">{{icon("arrow-270-medium")}}</a>{%endif %}</td>
                        <td>{{icon(button.icon, button.name) if button.icon}}</td>
                        <td><a href="/buttons/{{button.id}}/edit">{{button.name}}</a>{{" ["+button.function+"]" if button.function}}</td>
                        <td>{{button.labels|length}}</td>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
    <form method="POST" action="/buttons" class="clear">
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.url) }}
        {{ render_field(form.icon) }}
        <dd> <a href="http://p.yusukekamiyamane.com/icons/preview/fugue.png">Všechny ikonky</a> (možno použít jméno ikonky, nebo plné URL)</dd>
        {{ render_field(form.location) }}
        {{ render_field(form.submit) }}
      </dl>
    </form>
    <p>
    
{% endblock %}
