{% extends "_base.html" %}

{% block title %}Úprava {{media.title}}{% endblock %}

{% block content %}
    <h2>Úprava {{{'image':"obrázku", 'video':'videa'}[media.type]}} {{media.title}}</h2>
    {% if media.type == "image" %}
        <img src="{{media.url}}" class="largeimage">
    {% else %}
        <a href="{{media.url}}"><img src="{{media.thumb_url}}" class="image" alt="Video"  class="largeimage"></a>
    {% endif %}
    <form method="POST" action="/media/{{media.id}}/edit">
      <dl>
        {% if g.user.admin %}
            {{ render_field(form.url) }}
        {% endif %}
        {{ render_field(form.title) }}
        {{ render_field(form.submit) }}
      </dl>
    </form>
    <form method="POST" action="/media/{{media.id}}/delete">
        <input type="submit" value="Odstranit" class="confirm">
    </form>
    Přidal{{gr(media.author.gender)}} <a href="/users/{{media.author.id}}">{{media.author.name}}</a> dne {{media.timestamp}}
    
{% endblock %}
