{% extends "_base.html" %}

{% block title %}Úprava {{media.title}}{% endblock %}

{% block content %}
    <h2>Úprava {{{'image':"obrázku", 'video':'videa'}[media.type]}} {{media.title}}</h2>
    {% if media.type == "image" %}
        <img src="{{media.url}}" class="largeimage">
    {% else %}
        <a href="{{media.url}}"><img src="{{media.thumb}}" class="image" alt="Video"  class="largeimage"></a>
    {% endif %}
    <p>Přidal{{gr(media.author.gender)}} {{author(media.author)}} v {{media.timestamp|datetime}}
    {% if media.article %}
        ke článku <a href="{{media.article.url}}">{{media.article.title}}</a>
    {% endif %}
    {{media.reaction}}
    {% if media.reactions|count == 1 %}
        u <a href="{{media.reactions[0].url}}">reakce</a>.
    {% elif media.reactions|count > 1 %}
        u reakcí
        {% for reaction in reactions %}
            <a href="{{reaction.url}}">{{loop.index}}</a>
        {% endfor -%}
        .
    {% endif %}
    <form method="POST" action="/media/{{media.id}}/edit">
      <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.rank) }}
        {% if g.user.admin %}
            {{ render_field(form.article) }}
            {{ render_field(form.url) }}
        {% endif %}
        {{ form.submit() }}
      </dl>
    </form>
    <form method="POST" action="/media/{{media.id}}/delete">
        <input type="submit" value="Odstranit" class="confirm">
    </form>
    
{% endblock %}
