{% extends "_base.html" %}

{% block title %}Informace pro čtenáře{% endblock %}

{% block content %}
<article class="info">
    <h2>Informace pro čtenáře</h2>
    <p>Webová stránka <b>Zabij 10 prasat</b> vznikla jako prostor pro vyjádření nezávislých názorů na hry formou čtivých "<i>minirecenzí</i>". Pořadí, v kterém jsou hry recenzovány, nijak nesouvisí s děním na herní scéně ani datem jejich vydání, ale vychází čistě z toho, kdy má recenzent náladu o hře psát. Recenze samotné jsou čistě subjektivním názorem jejich autora, který nastíní čtenáři jaká hra ve skutečnosti je a co může nabídnout.
    <p>Jelikož není nikdy možné dosáhnout úplné objektivity, tak se o ní recenzent ani nesnaží. Místo toho uděluje hodnocení tak, aby odpovídalo ostatním hrám a pokud možno nezapomene uvést, z jakých důvodů se tak rozhodl. Následující seznam proto slouží jako užitečná reference jak čtenářům, tak i recenzentům.
    <dl>
        <dt>10/10</dt>
            <dd>Nadčasové dílo, které stejnou měrou osloví každou generaci hráčů.</dd>
            <dd>(<a href="/articles/214-The_Legend_of_Zelda:_Ocarina_of_Time_3D">Ocarina of Time</a>, 
                Chrono Cross, 
                <a href="/articles/190-Minecraft">Minecraft</a>...)</dd>
        <dt>9/10</dt>
            <dd>Hra, co chytne a nepustí. Přináší fantastické ponoření do hry a dohrání je neopakovatelným zážitkem.</dd>
            <dd>(<a href="/articles/125-Phoenix_Wright:_Ace_Attorney">Ace Attorney</a>, 
                <a href="/articles/148-Batman:_Arkham_Asylum">Arkham Asylum</a>, 
                <a href="/articles/206-Amnesia:_The_Dark_Descent">Amnesia</a>...)</dd>
        <dt>8/10</dt>
            <dd>Hra, která dokáže komukoliv a kdykoliv poskytnout skvělou zábavu bez ohledu na okolnosti.</dd>
            <dd>(<a href="/articles/96-Borderlands">Borderlands</a>, 
                <a href="/articles/187-Crazy_Taxi">Crazy Taxi</a>, 
                <a href='/articles/128-Spiral_Knights'>Spiral Knights</a>...)</dd>
        <dt>7/10</dt>
            <dd>Velmi zdařilý počin, co hráče ničím neodrazuje.</dd>
            <dd>(<a href='/articles/135-Spyro_the_Dragon'>Spyro the Dragon</a>, 
                <a href="/articles/212-Darksiders">Darksiders</a>, 
                <a href="/articles/246-Final_Fantasy_III">Final Fantasy III</a>...)</dd>
        <dt>6/10</dt>
            <dd>Vysoce hratelná hra, dávající najevo své kvality.</dd>
            <dd>(<a href="/articles/216-Pok%C3%A9mon_Mystery_Dungeon:_Red_Blue_Rescue_Team">Pokémon Mystery Dungeon</a>, 
                <a href="/articles/213-Alan_Wake">Alan Wake</a>, 
                <a href="/articles/50-S4_League">S4 League</a>...)</dd>
        <dt>5/10</dt>
            <dd>Lepší průměr. Na první pohled jsou znatelná pozitiva, ale i vážné nedostatky.</dd>
            <dd>(<a href="/articles/84-Wetrix">Wetrix</a>, 
                <a href="/articles/185-Soccer">Soccer (NES)</a>, 
                <a href="/articles/260-Network_Adventure_Bugsite">Network Adventure Bugsite</a>...)</dd>
        <dt>4/10</dt>
            <dd>Horší průměr. Tuto hru si vyberete spíš proto, že vás zaujala jedna konkrétní vlastnost, než celek.</dd>
            <dd>(<a href="/articles/157-The_Ooze">The Ooze</a>, 
                <a href="/articles/194-Nadirim">Nadirim</a>, 
                <a href="/articles/177-Popeye:_Rush_for_Spinach">Popeye: Rush for Spinach</a>...)</dd>
        <dt>3/10</dt>
            <dd>Může zabavit, ale nedá se zde mluvit o dobrých stránkách hry, jelikož žádné vyloženě dobré nemá.</dd>
            <dd>(<a href="/articles/83-KAO_the_Kangaroo">KAO the Kangaroo</a>, 
                <a href="/articles/223-Tringo">Tringo, 
                <a href="/articles/72-Regnum_Online">Regnum Online</a>...)</dd>
        <dt>2/10</dt>
            <dd>Hra, která má jisté kvality, od kterých vás ale odradí neskutečně nízká úroveň zpracování.</dd>
            <dd>(<a href="/articles/123-Duke_Nukem:_Critical_Mass">Duke Nukem: Critical Mass</a>, 
                <a href="/articles/215-The_Best_of_Entertainment_Pack">Entertainment Pack (GBC)</a>, 
                <a href="/articles/222-Harry_Potter:_Quidditch_World_Cup_(GBA)">Quidditch World Cup (GBA)...</a>)</dd>
        <dt>1/10</dt>
            <dd>Pořád se dá teoreticky označit za hru, ale v praxi jde o nehratelnou pohromu.</dd>
            <dd>(<a href="/articles/44-Atmosphir">Atmosphir</a>, 
                <a href="/articles/155-Immortal_World">Immortal World</a>, 
                <a href="/articles/224-Harry_Potter_and_the_Order_of_the_Phoenix">Order of the Phoenix (GBA)</a>...)</dd>
        <dt>0/10</dt>
            <dd>Jestli vám někdo platí, aby jste tohle "hráli", tak si najděte lepší zaměstnání.</dd>
            <dd>(<a href="/articles/225-WarioWare:_Snapped!">WarioWare: Snapped!</a>, 
                <a href="/articles/251-Elf_Bowling">Elf Bowling</a>, 
                Chicken Shoot (DS)...)</dd>
        <dt>N/10</dt>
            <dd>Hry, co nemohou být hodnoceny. Například takové, které už nebudou nikdy dokončeny.</dd>
            <dd>(<a href="/articles/89-Ragnarok_Online_2:_The_Gate_of_the_World">Ragnarök Online 2</a>, 
                Yume Nikki, 
                Letter Box...)</dd>
    </dl>
    
    <h2>Psaní recenzí a vaše možnosti</h2>
    <p>Pokud chcete také psát na Zabij 10 prasat, není nic snažšího, než se přihlásit a kliknout na <a href="/new_article">{{icon("blog--pencil", "Nový článek")}} Napsat článek</a>. Po odeslání ho uvidíte mezi <a href="/unpublished">{{icon("blogs-stack", "Nepublikované")}} nepublikovanými</a>, kde k němu máte přístup s možností editovat vy a admini. Pokud je článek kvalitní, admin ho publikuje. Pokud mu něco chybí, tak vám dá vědět buď přímo editací článku, nebo reakcí na něj.
    <p>Sami publikovat články budete v případě, že se stanete redaktory. Zvýšení práv je individuální po dohodě, když to některý z <a href="/users">adminů</a> uzná za vhodné (skóre uživatele zde nemá žádný vliv).
Uživatelé, kteří se aktivně zabývají nahráváním videí či screenshotů z vlastní produkce, se také mohou stát "VIP", což jsou důvěryhodní uživatelé, jejichž uploady mají zvýšenou prioritu a tak jsou vždy ostatním na očích.
    <h2>Kontaktní informace</h2>
    <p>Jakékoliv dotazy můžete směřovat na náš <a href="/shoutbox">shoutbox</a>, kde rozhodně nezůstanou opomenuty. Pokud by jste přesto cítili, že na váš dotaz či návrh je shoutbox příliš malý, použijte kontaktní informace v profilu libovolného z <a href="/users">adminů</a> a napište nám třeba email.
</article>
{% endblock %}
