{% extends "_base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <!--<h2>Nejnovější minirecenze</h2>-->
        <div class="leftcolumn">
            {% for article in articles %}
                {{ display_article(article, crop=True) }}
            {% else %}
                <div>Tady už nic není.</div>
            {% endfor %}
        </div>
        <div class="rightcolumn">
            {% for article in columns %}
                {{ display_article(article, crop=True) }}
            {% else %}
                <div>Tady už nic není.</div>
            {% endfor %}
        </div>
        <div class="mainarrows clear">
            {% if page > 1 %}
                <a href="{{url_for_here(page=page-1)}}" class="leftarrow">◀</a>
            {% else %}
                <a class="leftarrow disabledarrow">◀</a>
            {% endif %}
            <strong>{{page}}</strong>
            {% if page < 1+(num_articles//3) %}
                <a href="{{url_for_here(page=page+1)}}" class="rightarrow">▶</a>
            {% else %}
                <a class="rightarrow disabledarrow">▶</a>
            {% endif %}
        </div>
    <div class="clear"></div>

{% endblock %}
