{% extends "_base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <!--<h2>Nejnovější minirecenze</h2>-->
        {% for article in articles %}
            {{ display_article(article, crop=True) }}
        {% else %}
            <div>Tady už nic není.</div>
        {% endfor %}
        <div class="mainarrows">
            {% if page > 1 %}
                <a href="{{url_for_here(page=page-1)}}" class="leftarrow">◀</a>
            {% else %}
                <a class="leftarrow disabledarrow">◀</a>
            {% endif %}
            <strong>{{page}}</strong>
            <a href="{{url_for_here(page=page+1)}}" class="rightarrow">▶</a>
        </div>
    <div class="clear"></div>
    <div class="mediagallery mainvideogallery">
        {%- for media in videos -%}
            <div class="mediabox" id="media-{{media.id}}">
                <div><a href="{{media.url}}" rel="prettyPhoto[media]" title="{{media.title}} - <a href='{{media.article.url or '#'}}'>{{media.article.title or '(bez článku)'}}</a><p><small>{{media.author.name}}, {{media.timestamp|datetime}}</small>"><img src="{{media.thumb}}" class="image" alt="{{media.title}}"></a></div>
            </div>
        {% endfor -%}</div>
    <div class="mediagallery maingallery">
        {%- for media in images -%}
            <div class="mediabox" id="media-{{media.id}}">
                <div><a href="{{media.url}}" rel="prettyPhoto[media]" title="{{media.title}} - <a href='{{media.article.url or '#'}}'>{{media.article.title or '(bez článku)'}}</a><p><small>{{media.author.name}}, {{media.timestamp|datetime}}</small>"><img src="{{media.thumb}}" class="image" alt="{{media.title}}"></a></div>
                <!--{{media.article.url}}#media-{{media.id}} <div >
                    <a href="{{media.article.url}}">{{media.title}}</a>
                    {% if g.user.admin or (g.user == media.author and not g.user.guest) %}
                        <a href="/media/{{media.id}}/edit">{{icon("pencil", "Edit")}}</a>
                    {% endif %}
                </div>-->
            </div>
        {% endfor -%}</div>
    <div class="leftfloat clear">
        <a href="/media"">{{icon("images-stack", "")}} Všechny obrázky</a>
    </div>
    <div class="rightfloat">
        <a href="/media?type=video&filter=all">{{icon("films", "")}} Všechna videa</a>
    </div>
    <div id="columns" class="clear">
        {% for article in columns %}
            {{ display_article(article, crop=True, force_labels=True) }}
        {% else %}
            Tady už nic není.
        {% endfor %}
    </div>    
        <div class="mainarrows">
            {% if page_columns > 1 %}
                <a href="{{url_for_here(page_columns=page_columns-1, _anchor='columns')}}" class="leftarrow">◀</a>
            {% else %}
                <a class="leftarrow disabledarrow">◀</a>
            {% endif %}
            <strong>{{page_columns}}</strong>
            <a href="{{url_for_here(page_columns=page_columns+1, _anchor='columns')}}" class="rightarrow">▶</a>
        </div>
{% endblock %}
