{% extends "_base.html" %}

{% set title = {"both":"Média", 'image':'Obrázky', 'video':'Videa'}[form.type.data] %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <form action="/media" method="GET" class="rightalign">
        Vypisovat {{form.type()}} dle data {{form.order()}}, {{form.filter()}}, od {{form.author()}} <input type="submit" value="Vypsat">
    </form>
    <article class="mediagrid">
        {% for image in media -%}
            {{ render_media_box(image, rel="media", article_icon=True) }}
        {%- endfor %}
    </article>
    {{render_pages(page, count, per_page=30)}}
    {% if form.type.data == 'image' %}
        <h2 id="add">Nahrát obrázek</h2>
        <form method="POST" action="/media/post?type=image#add" enctype="multipart/form-data">
            {{render_field(upload_form.image)}}
            {{render_field(upload_form.title)}}
            {{render_field(upload_form.rank)}}
            {{upload_form.submit()}}
        </form>
        Obrázek přidaný tímto formulářem nebude přiřazen k žádnému článku.
    {% elif form.type.data == 'video' %}
        <h2 id="add">Přidat video</h2>
        <form method="POST" action="/media/post?type=video#add">
            {{render_field(video_form.url)}}
            {{render_field(video_form.video_title)}}
            {{render_field(video_form.submit)}}
        </form>
        Video přidané tímto formulářem nebude přiřazen k žádnému článku.
    {% endif %}
{% endblock %}
