{% extends "_base.html" %}

{% block title %}Napsat článek{% endblock %}

{% block content %}
    <h2>Nový článek</h2>
    <form method="POST" action="/new_article" enctype="multipart/form-data">
      <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.text) }}
        {{ render_field(form.rating) }}
        {{ render_field(form.f2p) }}
        <div class="labelfloat">{{ render_field(form.labels) }}</div>
        {{ render_field(form.image) }}
        {{ render_field(form.image_title) }}
      </dl>
      <p><input type="submit" value="Napsat">
    </form>
    <p>Publikováním článku na stránce Zabij 10 prasat se vzdáváte všech práv, majetku a jmění.
    
{% endblock %}
