{% extends "_base.html" %}

{% block title %}Nový článek{% endblock %}

{% block content %}
    <h2>Nový článek</h2>
    <form method="POST" action="/new_article" enctype="multipart/form-data">
      <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.text) }}
        {{ render_field(form.rating) }}
        <div class="labelfloat">{{ render_field(form.labels) }}</div>
        {{ render_field(form.image) }}
        {{ render_field(form.image_title) }}
      </dl>
      <p><input type="submit" value="Přidat">
    </form>
    
    
{% endblock %}
