{% extends "_base.html" %}

{% block title %}Registrace{% endblock %}

{% block content %}
    <h2>Registrace</h2>
    <form method="POST" action="/register">
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.gender) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
      </dl>
      <p><input type="submit" value="Zaregistrovat se">
      <p>Hesla jsou kryptograficky hashována osoleným algorytmem sha224.
    </form>
    
    
{% endblock %}
