{% extends "_base.html" %}

{% block title %}Vyhledávání{% endblock %}

{% block content %}
    {% if stype != "all" %}
        <h2>Vyhledávání
            {%- if stype == "text" and form.text.data -%}
                {{' "'+form.text.data+'"'}}
            {%- elif stype == "labels" and form.operator.data -%}{{": "-}}
                {%- for label in matched_labels -%}
                    {{label.name}}{{{'and':' a ','or':' nebo '}[form.operator.data] if not loop.last}}
                {%- endfor -%}
            {%- endif -%}
                </h2>
    {% else %}
        <h2>Všechny články</h2>
    {% endif %}
        {% if stype == "text" %}
            <a href="/search?labels">Vyhledávat podle štítků</a>
        {% elif stype == "labels" %}
            <a href="/search">Vyhledávat dle textu</a>
        {% endif %}
        <form method="GET" action="/search" class="searchform">
            {% if stype == "text" %}
                {{ render_field(form.text) }}
                {{ render_field(form.within_labels) }}
            {% elif stype == "labels" %}
                <div class="labelbox"><h3>Platformy</h3>{{ form.platform_labels() }}</div>
                <div class="labelbox"><h3>Žánry</h3>{{ form.genre_labels() }}</div>
                <div class="labelbox"><h3>Jiné</h3>{{ form.other_labels() }}</div>
                {{ render_field(form.operator) }}
                {{ form.labels() }}
            {% elif stype == "all" %}
                <input type="hidden" name="all">
            {% endif %}
            Řadit dle {{ form.sort() }}, {{ form.order() }}
            <input type="submit" value="{{'Hledat' if stype!='all' else 'Vypsat'}}">
        </form>
    {% if searched %}
        {% if matched_labels and stype == "text" %}
            Matchující štítky:
                <ul>
                    {% for label in matched_labels %}
                        <li> {{label.name}}
                    {% endfor %}
                </ul>
        {% endif %}
        {% if count != None and count > 0 %}
            Nalezeno {{ count }} článků.
            {% for article in matched_articles %}
                {{ display_article(article, crop=True) }}
            {% endfor %}
            {{ render_pages(page, count, url_args) }}
        {% elif count == 0 %}
            <p>Žádný článek nenalezen.
        {% endif %}
        
    {% endif %}
{% endblock %}
