{% extends "_base.html" %}

{% block title %}Vyhledávání{% endblock %}

{% block content %}

    <h2>Vyhledávání {{' "'+form.text.data+'"' if form.text.data else ""}}</h2>
    <form method="GET" action="/search">
        {{ render_field(form.text) }}
        {{ render_field(form.within_labels) }}
        {{ render_field(form.sort) }}
        {{ render_field(form.order) }}
        {{ render_field(form.submit) }}
      {% if False %}
      <dl>
        {{ render_field(form.text) }}
        <dd>Štítky
            <div class="labelbox"><h3>Platformy</h3>{{ form.platform_labels() }}</div>
            <div class="labelbox"><h3>Žánry</h3>{{ form.genre_labels() }}</div>
            <div class="labelbox"><h3>Jiné</h3>{{ form.other_labels() }}</div>
        {{ render_field(form.label_operator) }}
        {{ render_field(form.authors) }}
        {{ render_field(form.author_operator) }}
        {{ render_field(form.sort) }}
        {{ render_field(form.sort_order) }}
        {{ render_field(form.submit) }}
      </dl>
      {% endif %}
    </form>
    {% if searched %}
        {% if matched_labels %}
            Matchující štítky:
                <ul>
                    {% for label in matched_labels %}
                        <li> {{label.name}}
                    {% endfor %}
                </ul>
        {% endif %}
        {% if count != None and count > 0 %}
            Nalezeno {{ count }} článků.
            {% for article in matched_articles %}
                {{ display_article(article, crop=True) }}
            {% endfor %}
            {{ render_pages(page, count, url_args) }}
        {% elif count == 0 %}
            <p>Žádný článek nenalezen.
        {% endif %}
        
    {% endif %}
{% endblock %}
