{% extends "_base.html" %}

{% block title %}Vyhledávání{% endblock %}

{% block content %}
    {% if "noform" in request.args or stype == "all" %}<div class="search">{% else %}<article class="search">{% endif %}
    {% if stype != "all" %}
        <div><strong>Vyhledávání
            {%- if stype == "text" and form.text.data -%}
                {{' "'+form.text.data+'"'}}
            {%- elif stype == "labels" and form.operator.data -%}{{": "-}}
                {%- for label in matched_labels -%}
                    {{label.name}}{{{'and':' a ','or':' nebo ', "nor":" ani "}[form.operator.data] if not loop.last}}
                {%- endfor -%}
            {%- endif -%}
        </strong></div>
    {% else %}
        <h2>Všechny články</h2>
    {% endif %}
        {% if stype == "text" and "noform" not in request.args %}
            <a href="/search?labels">Vyhledávat podle štítků</a>
        {% elif stype == "labels" and "noform" not in request.args %}
            <a href="/search">Vyhledávat dle textu</a>
        {% endif %}
        <form method="GET" action="/search" class="searchform {{'noform' if 'noform' in request.args}}">
            {% if stype == "text" and "noform" not in request.args %}
                {{ render_field(form.text) }}
                {{ render_field(form.within_labels) }}
            {% elif stype == "labels"  %}
                <div class="labelbox"><h3>Platformy</h3>{{ form.platform_labels() }}</div>
                <div class="labelbox"><h3>Žánry</h3>{{ form.genre_labels() }}</div>
                <div class="labelbox"><h3>Jiné</h3>{{ form.other_labels() }}</div>
                <div class="onlyifform">{{ render_field(form.operator) }}</div>
                {{ form.labels() }}
            {% elif stype == "all" %}
                <input type="hidden" name="all">
            {% endif %}
            <div class="foundsort">
                {% if count > 0 %}
                        Nalezeno <strong>{{count}}</strong> článků.  Řazeno dle {{ form.sort() }}, {{ form.order() }}
                {% else %}
                    Řadit dle {{ form.sort() }}, {{ form.order() }}
                {% endif %}<input type="hidden" name="noform">
                <input type="submit" value="{{'Hledat' if stype!='all' else 'Vypsat'}}">
            </div>
    {% if "noform" in request.args or stype == "all"  %}</div>{% else %}</article>{% endif %}
    </article>
    {% if searched %}
        {% if matched_labels and stype == "text" %}
            Odpovídající štítky:
                <ul>
                    {% for label in matched_labels %}
                        <li> {{label.name}}
                    {% endfor %}
                </ul>
        {% endif %}
        {% if count != None and count > 0 %}
            {% for article in matched_articles %}
                {{ display_article(article, cut=True) }}
            {% endfor %}
            {{ render_pages(page, count, per_page=7) }}
        {% elif count == 0 %}
            <p>Žádný článek nenalezen.
        {% endif %}
        
    {% endif %}
{% endblock %}
