{% extends "_base.html" %}

{% block title %}{{user.name}}{% endblock %}

{% block content %}
    {% if g.admin or g.user == user%}
        <a href="/users/{{user.id}}/edit"><img src="/static/icons/pencil.png" alt="Edit"> Upravit profil</a>
    {% endif%}
    <h2>{{author(user)}}</h2>
    <dl>
        <dt>Skóre</dt>
            <dd>{{user.score}}</dd>
        <dt>Email</dt>
            <dd>{{user.email.replace("@", " zavináč ") if user.email else '-'}}</dd>
        <dt>Rank</dt>
            <dd>{{user.rank}}</dd>
        <dt>Zaregistrován{{gr(user.gender)}} dne</dt>
            <dd>{{user.timestamp|datetime}}</dd>
        <dt>Naposledy viděn{{gr(user.gender)}}</dt>
            <dd>{{user.laststamp|datetime}}</dd>
        {% if g.user.admin or g.user == user%}
            <dt>IP</dt>
                <dd>{{user.ip}}</dd>
            <dt>Poslední URL (stalk stalk stalk)</dt>
                <dd><a href={{user.last_url}}>{{user.last_url or "?"}}</a></dd>
        {% endif %}
    </dl>
    <p class="clear">{{user.profile|safe or '-'}}
    {% if articles %}
        <h3>Články</h3>
        {% for article in articles[(page-1)*5:page*5] %}
            {{ display_article(article, crop=True) }}
        {% endfor %}
        {{ render_pages(page, user.articles|count) }}
    {% endif %}
{% endblock %}
