{% extends "_base.html" %}

{% block title %}{{user.name}}{% endblock %}

{% block content %}
    {% if session.user.rights >= 3 or session.user == user%}
        <a href="/users/{{user.id}}/edit">Upravit profil</a>
    {% endif%}
    <dl>
        <dt>Jméno</dt>
            <dd>{{user.name}}</dd>
        <dt>Email</dt>
            <dd>{{user.email if user.email else '-'}}</dd>
        <dt>Zaregistrován{{g(user.gender)}} dne</dt>
            <dd>{{user.timestamp|datetime}}</dd>
        <dt>Naposledy viděn{{g(user.gender)}}</dt>
            <dd>{{user.laststamp|datetime}}</dd>
        {% if session.user.rights >= 3 or session.user == user%}
            <dt>IP</dt>
                <dd>{{user.ip}}</dd>
            <dt>Práva</dt>
                <dd>{{user.rights}}</dd>
        {% endif %}
    </dl>
    {{user.profile|safe if user.profile else '-'}}
    
{% endblock %}
