{% extends "_base.html" %}

{% block title %}{{user.name}}{% endblock %}
{% block canonical %}{{user.url}}{% endblock %}

{% block content %}
    <a href="/users">{{icon("arrow-180-medium")}} Seznam uživatelů</a>
    {% if g.user.admin or g.user == user%}
        <a href="/users/{{user.id}}/edit">{{icon('pencil')}} Upravit profil</a>
    {% endif%}
    <article>
        <h2>{{author(user)}}</h2>
        <dl>
            <dt>Email</dt>
                <dd>{{user.email.replace("@", " zavináč ") if user.email else '-'}}</dd>
            <dt>Rank</dt>
                <dd>{{user.rank}}</dd>
            <dt>Level</dt>
                <dd>{{user.level}} ({{user.exp}} exp, dočasné)</dd>
            <dt>Zaregistrován{{gr(user.gender)}} dne</dt>
                <dd>{{(user.timestamp or "Dávno")|datetime}}</dd>
            <dt>Naposledy spatřen{{gr(user.gender)}}</dt>
                <dd>{{user.laststamp|datetime}}</dd>
            <dt>Staty</dt>
                <dd>{{user.articles|count}} článků, {{user.reactions|count}} reakcí, {{user.media|count}} médií, {{user.shoutbox_posts|count}} příspěvků do shoutboxu</dd>
            {% if g.user.admin %}
                <dt class="admin">Posledí IP</dt>
                    <dd>{{user.ip}}</dd>
                <dt class="admin">Posledí User-Agent</dt>
                    <dd>{{user.user_agent}}</dd>
                <dt class="admin">Poslední URL</dt>
                    <dd><a href={{user.last_url}}>{{user.last_url or "?"}}</a></dd>
            {% endif %}
        </dl>
        <p class="clear">{{user.profile|replace('\n','<p>')|clean|safe or '-'}}
    </article>
    {% if articles %}
        <h3 id="articles">Články</h3>
        {% for article in articles[(page-1)*5:page*5] %}
            {{ display_article(article, crop=True, force_labels=True) }}
        {% endfor %}
        {{ render_pages(page, user.articles|count, anchor="articles") }}
    {% endif %}
    {% if g.user.admin %}
        <h3 id="logs">Logy</h3>
        <table>
            <thead><tr><td>id</td><td>Čas</td><td>Aktivní</td><td>Věc</td><td>ID věci</td><td>Akce</td><td>Expů</td><td>Data</td></tr></thead>
            {% for entry in user.logs %}
                <tr><td>{{entry.id}}</td><td class='nobr'>{{entry.timestamp|datetime}}</td><td>{{{True: "Ano", False: "Ne"}[entry.active]}}</td><td>{{entry.thing}}</td><td>{{entry.thing_id or "-"}}</td><td>{{entry.action}}</td><td>{{entry.exp}}</td>
                <td>
                    {%- if entry.data -%}
                        {% for key, value in entry.data.items() %}
                            <b>{{key}}</b>: {{value}}; 
                        {% endfor %}
                    {%- else -%}
                        -
                    {%- endif -%}
                </td></tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
