{% extends "_base.html" %}

{% block title %}Uživatelé{% endblock %}

{% block content %}
    <h2>Uživatelé</h2>
    <table><thead><tr><td>Jméno</td><td>Level</td><td>Práva</td><td>Datum registrace</td><td>Naposledy</td></tr></thead>
    <tbody>
        {% for user in users %}
            <tr id="user-{{user.id}}">
                <td>{{author(user)}}</td>
                <td>{{user.level}}</td>
                <td>{{user.rank}}</td>
                <td>{{user.timestamp|datetime}}</td>
                <td>{{user.laststamp|datetime}}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if g.user.admin %}
        <h2>Anonymové (vidí jen admini)</h2>
        <form method="GET" action="{{url_for_here()}}">
            Jen {{form.numanons}} posledních anonymů <input type="submit" value="Zobrazit">
        </form>
        <table><thead><tr><td>Jméno</td><td>Naposledy</td></tr></thead>
        <tbody>
            {% for user in anons %}
                <tr id="user-{{user.id}}">
                    <td>{{author(user)}}</td>
                    <td>{{user.laststamp|datetime}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
    
{% endblock %}
