body {background-color: #f0f0f8; background-image: url('/static/img/pigs.png');
    background-attachment:fixed; color:#414a5b; font-size:smaller;}
* {font-family:Ubuntu, Verdana, sans-serif; }

*::-moz-selection {background-color:#BB141A; color:white; text-shadow:none;}
::selection {background-color:#BB141A; color:white; text-shadow:none;}
ul, ul * {list-style:none;}
.clear {clear:both;}
header, #content {width: 55%; margin: auto;}
#content {min-height:240px;}
#logo {margin:auto; width:650px; position:relative;}
#logo img {width:650px; height:115px;}

#topicons {position:absolute; right:8px; top:4px;}

#leftmenu, #rightmenu { width:160px; text-align:left;}
#leftmenu, #rightmenu {position: absolute; top: 150px;  /*width: 12.5%;*/ margin:0; padding:0; list-style:none;}
#leftmenu {right: 80.5%;}
#rightmenu {left: 79.5%;}
#leftmenu li, #rightmenu li {width:100%; position:relative;}
#leftmenu a, #rightmenu a {position: relative; border:1px solid #aaa; padding:3px; width:100%; display:block; background:white;
    color:#414a5b; text-decoration:none; width:100%;
    font-size:14px;
    border-radius:6px;
    -moz-box-shadow: inset 0px -5px 5px #ddd;
    -webkit-box-shadow: inset 0px -5px 5px #ddd;
    box-shadow: inset 0px -5px 5px #ddd;}
#leftmenu a:hover, #rightmenu a:hover {background-color:rgb(187, 20, 26);
    border-color: rgb(187, 20, 26); color:white;
    -moz-box-shadow: inset 0px -5px 5px #A20E14;
    -webkit-box-shadow: inset 0px -5px 5px #A20E14;
    box-shadow: inset 0px -5px 5px #A20E14;}
.down {position:absolute; right:-8px; background-color: rgb(187, 20, 26); border:1px solid #5F0B0E; color:white; z-index:1; height:99%; border-radius:0 6px 6px 0;
    display:block;  font-weight:bold; cursor:pointer; width:26px; text-align:center; font-size:14px;
    -moz-box-shadow: inset 0px -5px 5px #A20E14;
    -webkit-box-shadow: inset 0px -5px 5px #A20E14;
    box-shadow: inset 0px -5px 5px #A20E14;}
.down:hover { border-color:white;}
.button-labels {margin:0; padding:0; overflow:hidden;}
#leftmenu .button-labels a, #rightmenu .button-labels a /* wordy to prevent having to important */
    {font-size:10px ; padding:0 2px 0 6px; margin:0 18px 0 5px; width:70%; float:right;} 
menu li { margin: 2px; width:100%; }

.linkbar {background-color: rgb(187, 20, 26); text-align:right; font-size:12px;
    -moz-box-shadow: inset 0px -5px 5px #A20E14;
    -webkit-box-shadow: inset 0px -5px 5px #A20E14;
    box-shadow: inset 0px -5px 5px #A20E14;}
.linkbar, .linkbar a {color:white; text-decoration:none;}
.linkbar a {font-weight:bold; white-space:nowrap;}
.linkbar a:hover {color:white; text-decoration:underline;}
.linkbar .logged {float:left;}

.linkbarmiddle {text-align:center; font-size:12px;}
.linkbarmiddle, .linkbarmiddle a {text-decoration:none;}
.linkbarmiddle a {font-weight:bold; white-space:nowrap;}
.linkbarmiddle a:hover {text-decoration:underline;}

.flash {padding:6px; background-color:yellow; margin: 2px 16% 2px 16%; border:1px solid gold; border-radius:12px;}

.pages {text-align:center;}

.mainarrows {margin:0 auto 0px auto; width:64px; text-align:center;}
.mainarrows strong {vertical-align:middle;}
.mainarrows a {background-color: rgb(187, 20, 26); display:inline-block; color:white; text-decoration:none;
    border:1px solid #5F0B0E;
    -moz-box-shadow: inset 0px -5px 5px #A20E14;
    -webkit-box-shadow: inset 0px -5px 5px #A20E14;
    box-shadow: inset 0px -5px 5px #A20E14;
    font-size:17px; vertical-align:middle; padding:0px 3px 4px 3px; line-height:1;
    margin-bottom:3px;}
.mainarrows .disabledarrow {background-color:#aaa; box-shadow:none;
    border:1px solid #222;
    -moz-box-shadow: inset 0px -5px 5px #888;
    -webkit-box-shadow: inset 0px -5px 5px #888;
    box-shadow: inset 0px -5px 5px #888;}
.mainarrows a:hover {border-color:white; color:white; }
.mainarrows .disabledarrow:hover {border-color:black; cursor:default;}
.leftarrow {border-radius:100% 0 0 100%; float:left;}
.rightarrow {border-radius:0 100% 100% 0; float:right;}

p {text-indent:18px; margin: 5px 0 0 0; padding:0; font-size:12px;}

dt {font-weight:bold; float:left; width:30%; clear:left;}
dt::after {content:':';}
dt.admin {font-style:italic;}
.info dt {width:30px;}

a{	color: #862025;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         /*-o-transition: all 0.2s ease-in-out;*/
            transition: all 0.2s ease-in-out;
  text-decoration:underline;
}
a:hover {color:#c2252c;}
.pp_pic_holder a {    -webkit-transition: all 0;
       -moz-transition: all 0;
         /*-o-transition: all 0.2s ease-in-out;*/
            transition: all 0;}

.icon {vertical-align:middle;}

article { display:block;
    border: 1px solid #777;
    border-width: 14px;
    background-color:#f9f8fb;
	-moz-border-image: url('/static/img/article_border.png') 14 14 14 14 round round;
	-webkit-border-image: url('/static/img/article_border.png') 14 14 14 14 round round;
	-o-border-image: url('/static/img/article_border.png') 14 14 14 14 round round;
	border-image: url('/static/img/article_border.png') 14 14 14 14 round round;
	-moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding;
    background-clip: padding-box;

}
article h1 {margin:0; letter-spacing:0.15em; margin:0; font-size:13px;}
article.regular h1 a {color:inherit; text-decoration:none;}
article.regular h1 a:hover {text-decoration:underline;}
article .ratingbox {float:right; padding:8px;  text-align:center;
    background:rgb(187, 20, 26); border-radius:100% 0 100% 100%; color:white;
    width:30px; height:30px;}
article .rating {font-size:24px; font-weight:bold; padding:0 3px 0 1px;}
article .rating-10 {padding:0;}
article .outof {vertical-align:top; font-size:9px; position:relative; left:-2px;}
article .image {
    max-width:172px; max-height:250px;
    border: 1px solid black;
    float:left;
    margin:0px 5px 0px 0px;
    clear:both;}
article.crop .image {width:106px;height:87px;}
article.crop .platforms li {display:inline; padding-left:2px;}
article.crop .platforms li:before {content:'• ';}
article.crop .platforms li a {color:inherit; text-decoration:none;}
article footer {display:block;
    clear:both;
    border-radius:6px; -moz-border-radius:6px;
    background-color:#dcdee4;
    padding:1px 5px 1px 5px;}
article.crop footer {clear:right;/* margin-left: 112px;*/}
article.crop footer .stats {clear:none;}

article.crop .labels {display:none;}
.labels {/*float:right; text-align:right;*/}
.labels, .labels li {margin:0; padding:0; list-style:none;}
.labels li {float:right;display:inline-block; margin:1px 2px 6px 2px;}
.labels a {border:1px solid #aaa; background:white; padding:2px; color:black; text-decoration:none;
    border-radius:4px;
    -moz-box-shadow: inset 0px -5px 5px #ddd;
    -webkit-box-shadow: inset 0px -5px 5px #ddd;
    box-shadow: inset 0px -5px 5px #ddd;}
.labels .label-genre {
    -moz-box-shadow: inset 0px -5px 5px #edd;
    -webkit-box-shadow: inset 0px -5px 5px #edd;
    box-shadow: inset 0px -5px 5px #edd;}
.labels .label-platform {
    -moz-box-shadow: inset 0px -5px 5px #dde;
    -webkit-box-shadow: inset 0px -5px 5px #dde;
    box-shadow: inset 0px -5px 5px #dde;}
.labels a:hover {background-color:rgb(187, 20, 26); color:white; border-color: #5F0B0E;
    -moz-box-shadow: inset 0px -5px 5px #A20E14;
    -webkit-box-shadow: inset 0px -5px 5px #A20E14;
    box-shadow: inset 0px -5px 5px #A20E14;
}
.authorline {float:right; clear:right;}
.lefthings {float:left; text-align:left;}
.stats {}
.dateline {}
.author {font-weight:bold;}
.author .iconlink {text-decoration:none;}
/*.adminline {float:left; clear:left;}
article.crop .adminline {display:none;}*/
.f2p {float:left; font-weight:bold;}
.articlelink {float:right; color:rgb(187, 20, 26);}
.articlelink a {text-decoration:none;}
.articlelink a:hover {text-decoration:underline;}
.unpublished {color:red;}

.mediatab {display:inline-block; padding:3px 6px 2px 6px; margin-right:2px; border: 1px solid #aaa; border-width:1px 1px 0 1px;
    text-decoration:none; color:inherit; background:white; border-radius:4px 4px 0 0;
    margin-left:8px;}
.mediatab:hover, .selectedtab {background-color:rgb(187, 20, 26); color:white; cursor:pointer; border-color: #5F0B0E; }

.mediagallery {width:100%; max-height:200px; overflow-x:scroll; overflow-y:hidden; white-space: nowrap; background-color:white; padding-top:4px; border: 1px solid #aaa; margin-top:-1px; border-radius:4px; padding-left:4px;}
.mediagallery.maingallery {white-space:normal; overflow:hidden; height:100px; width:auto; }
.mediagallery.mainvideogallery {white-space:normal; overflow:hidden; height:100px; width:278px; text-align:right; float:right;}
.mediabox .image { 
    max-width:200px; height:96px;
    border: 2px solid black; /*rgb(187, 20, 26);*/ border-radius:4px; }
.mediagallery .mediabox.rank-3 .image, .mediagrid .mediabox.rank-3 .image {   border-color:#ffbe0f #ea7900 #ea7900 #ffbe0f !important;  border-width:3px;}
.mediagallery .mediabox.rank-1 .image, .mediagrid .mediabox.rank-1 .image {   border-color:gray !important;}

.mediabox {max-width:200px; display:inline-block; text-align:center; white-space: normal; vertical-align:top; margin-right:2px;}
menu .mediabox { width:100% !important; margin-top:18px;}
menu .mediabox .image {max-width:152px !important;}
.mediabox dd {margin-left:0;}

.imagewrap {position:relative; max-width:auto; display:inline-block; white-space:nowrap; }
.imageicons {position:absolute; right:0; bottom:0;}

#gallery-upload input {max-width:60%;}

article.reaction {}
article.reaction h1 a {text-decoration:none;}
article.reaction footer {/*background-color:#fced9a*/}

.ratingform {text-align:right;}

.largeimage {margin:auto; max-width:250px; max-height:200px; border:1px solid black;}

.mediagrid {text-align:center;}
.mediagrid .mediabox {display:inline-block; margin:auto; /*border:1px solid #444;*/ width:172px; min-height:127px; vertical-align:top; overflow-x: hidden; }
.mediagrid .mediabox .image {border: 2px solid black; /*rgb(187, 20, 26);*/ border-radius:4px; height:96px; max-width:168px;}
.mediagrid .mediabox .imagewrap {max-width:172px;}
.mediagrid .media.rank-3 .image { border-color:rgb(187, 20, 26); }

table {width: 100%; border-collapse:collapse; background-color: #f0f0f8; margin-bottom:2px;}
thead {background-color:rgb(187, 20, 26); text-align:center; color:white;}
thead td {border-color: #5F0B0E;
    -moz-box-shadow: inset 0px -5px 5px #A20E14;
    -webkit-box-shadow: inset 0px -5px 5px #A20E14;
    box-shadow: inset 0px -5px 5px #A20E14;}
td {border: 1px solid #444;}

.w16 {width:16px;}

.leftcolumn {width:50%; float:left; /*border-right:1px solid #aaa;*/}
.rightcolumn {width:50%; float:right;}
.leftfloat {float:left;}
.rightfloat {float:right;}
.rightalign {text-align:right;}
.centeralign {text-align:center;}
.centermargin {margin:auto;}

.search form {margin-top:22px;}
.foundsort {margin-top:6px; text-align:right;}
.labelbox {height:168px; overflow-y: scroll; width:33%; float:left; margin-bottom:4px;}
.labelbox ul {padding:0; margin:0;}
.noform .labelbox, .noform .onlyifform {display:none;}

.errors {color:darkred;}

.shoutbox {background-color: #f0f0f8; width:70%; border:1px solid #aaa; margin:auto; padding:6px; overflow:auto; word-wrap: break-word; margin-top:6px;}
.shoutbox #text {width:76.5%;}
.shoutbox #submit {width:20%; float:right;}
.post a {text-decoration:none;}
.post.odd {background-color:#f0f0f8;}
.post.even {background-color:#e0e0e8;}
.post .author {margin-right:6px;}
.post .last {opacity:0.5;}
.dateright {float:right; color:#999;}

textarea {width:90%; min-height:172px;}

body > footer p {clear:both; text-align:right; font-size:10px;}

.nobr {white-space:nowrap;}
.nodisplay {display:none;}

.labelfloat {position:fixed; right:0; top:0; width:20%; background:white; height:100%; overflow-y:scroll;  z-index:12;}
.labelfloat dd, .labelfloat ul, .labelfloat li {margin:0; padding:0; list-style:none; line-height:0.9; clear:left;}

.kip {z-index:256;}


.pp_social {display:none;}
