body {background-color: #f0f0f8;}
header, #content {width: 55%; margin: auto;}
#logo {margin:auto; width:650px;}
#leftmenu, #rightmenu {position: fixed; top: 135px;  width: 17.5%; margin:0; padding:0; list-style:none;}
#leftmenu {left: 2.5%;}
#rightmenu {right: 2.5%;}
#leftmenu a, #rightmenu a {position: relative; border:1px solid #aaa; padding:3px; width:100%; display:block; background:white;}
.down {position:absolute; right:4px; background-color: rgb(187, 20, 26); color:white;}
menu li { padding: 1px; width:100%; }

.linkbar {background-color: rgb(187, 20, 26); text-align:right;}
.linkbar, .linkbar a {color:white; text-decoration:none;}
.linkbar a {font-weight:bold;}

.flash {padding:6px; background-color:yellow; margin: 2px 10% 2px 10%;}

article {
    border: 1px solid black;
    border-width: 14px;
	border-image: url('/static/img/article_border.png') 14 14 14 14 round round;
	-moz-border-image: url('/static/img/article_border.png') 14 14 14 14 round round;
	-webkit-border-image: url('/static/img/article_border.png') 14 14 14 14 round round;
	-o-border-image: url('/static/img/article_border.png') 14 14 14 14 round round;
}

table {width: 100%; border-collapse:collapse;}
thead {background-color:rgb(187, 20, 26); text-align:center; color:white;}
td {border: 1px solid #444;}

.labelfloat {position:fixed; right:0; top:0; width:20%; background:white; height:100%; overflow-y:scroll;}
.labelfloat dd, .labelfloat ul, .labelfloat li {margin:0; padding:0; list-style:none;}
